body {
    position: relative;
    color: #818181;
    padding-top: 50px;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
}

i {
    vertical-align: middle;
}

hr {
    size: 4px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

hr {
    color: white;
    border-style: inset;
    border-width: 3px;
}

.jumbotron {
    background-color: #fff;
    color: black;
    padding: 100px 25px;
    font-family: Roboto, sans-serif;
    margin-left: 25px;
    margin-right: 25px;
}

.container-fluid {
    padding: 60px 50px;
    margin-left: 25px;
    margin-right: 25px;
}

.navbar {
    margin-bottom: 0;
    margin-left: 25px;
    margin-right: 25px;
    z-index: 9999;
    border: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Roboto, sans-serif;
    background-color: white;
}

.navbar-brand {
    font-size: 110%;
    padding-top: 14px;
}

.navbar li a,
.navbar {
    color: #fff;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: black;
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.bg-gr {
    background-color: #f6f6f6;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #870F0F;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}